    .message
      .message__upper-info
        %p.message__upper-info__talker
          sample_name
        %p.message__upper-info__date
          2019/02/16(Sat) 15:00:00
      %p.message__first-message
        グループ1のメッセージ１
    .message
      .message__upper-info
        %p.message__upper-info__talker
          sample_name
        %p.message__upper-info__date
          2019/02/16(Sat) 16:00:00
      %p.message__first-message
        グループ1のメッセージ２
