.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        test-user
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/kari"}
            %i.fa.fa-edit{"aria-hidden" => "true"}
        %li.side-header__box__menu__edit-user
          %a{:href => "/kari"}
            %i.fa.fa-cog{"aria-hidden" => "true"}
  .side-groups
    %a{:href => "/kari"}
      .group
        %p.group__group-name
          sample_group_1
        %p.group__first-message
          グループ１のメッセージ１
    %a{:href => "/kari"}
      .group
        %p.group__group-name
          sample_group_2
        %p.group__first-message
          グループ２のメッセージ１
.chat-main
  .main-header
    .main-header__box
      %p.main-header__box__current-group
        sample_group_1
      %ul.main-header__box__member-list
        Member:
        %li.main-header__box__member-list__member
          test-user
    %a{:href => "/kari"}
      .main-header__edit-btn
        Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          sample_name
        %p.message__upper-info__date
          2019/02/16(Sat) 15:00:00
      %p.message__first-message
        グループ1のメッセージ１
    .message
      .message__upper-info
        %p.message__upper-info__talker
          sample_name
        %p.message__upper-info__date
          2019/02/16(Sat) 16:00:00
      %p.message__first-message
        グループ1のメッセージ２
  .form
    %form#new.new-message{"accept-charset" => "UTF-8", :method => "post"}
      .input-box
        %input.input-box__text{:name => "message-content", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image
          %i.fa.fa-image
            / ::before
          %input.input-box__image__file{:type => "file"}/
      %input.submit-btn{:type => "submit", :value => "Send"}/
